.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-header {
    background-color: lightblue;
}

.app-header h1 {
    text-align: center;
}

.app-item {
    padding: 10px;
    text-transform: capitalize;
}
.app-item a {
    text-decoration: none;
}

.app-menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.app-main {
    flex-grow: 1;
}